In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from time import sleep
from bs4 import BeautifulSoup
from selenium.webdriver.support.select import Select
import requests
import warnings
warnings.filterwarnings("ignore")

# ===============================================

 # (1)

In [77]:
driver=webdriver.Chrome(r'/Users/nimeshroy/Downloads/chromedriver')
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [ ]:
video=[]
try:
    vid=driver.find_elements_by_tag_name("td")
    for v in vid:
        print(v.text)
        video.append(v.text)
except NoSuchElementException:
        video.append('-')

# ---------------------------------------------------------------------

# (2)

In [61]:
driver=webdriver.Chrome(r'/Users/nimeshroy/Downloads/chromedriver')
driver.get('https://www.bcci.tv/.')
driver.find_element_by_xpath("//a[@href='https://www.bcci.tv/international/fixtures']").click()

In [ ]:
match_tplace=[]
try:
    place=driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")
    for p in place:
        print(p.text)
        match_tplace.append(p.text)
except NoSuchElementException:
        match_tplace.append('-')

In [ ]:
match_date=[]
try:
    date=driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']")
    for d in date:
        print(d.text)
        match_date.append(d.text)
except NoSuchElementException:
        match_date.append('-')

In [ ]:
match_time=[]
try:
    time=driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
    for t in time:
        print(t.text)
        match_time.append(t.text)
except NoSuchElementException:
        match_time.append('-')

In [22]:
df=pd.DataFrame({'Title & Place':match_tplace,'Date':match_date,'Time':match_time})
df

                                       Title & Place         Date         Time
0             1st T20I - Arun Jaitley Stadium, Delhi   9 JUN 2022  7:30 PM IST
1               2nd T20I - Barabati Stadium, Cuttack  12 JUN 2022  7:30 PM IST
2  3rd T20I - Dr YS Rajasekhara Reddy ACA-VDCA Cr...  14 JUN 2022  7:30 PM IST
3  4th T20I - Saurashtra Cricket Association Stad...  17 JUN 2022  7:30 PM IST
4        5th T20I - M Chinnaswamy Stadium, Bengaluru  19 JUN 2022  7:30 PM IST

# ---------------------------------------------------------------------

# (3)

In [54]:
driver=webdriver.Chrome(r'/Users/nimeshroy/Downloads/chromedriver')
driver.get('https://www.guru99.com/exception-handling-selenium.html')

In [70]:
name=[]
description=[]
des=[]
try:
    desc=driver.find_elements_by_tag_name("td")
    for e in desc:
        print(e.text)
        des.append(e.text)
except NoSuchElementException:
        des.append('-')  
len(des)
#your_list = [0,1,2,3,4,5,6,7,8,9]
#new_list = your_list[0::3]

ElementNotVisibleException
This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.
ElementNotSelectableException
This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.
NoSuchElementException
This Exception occurs if an element could not be found.
NoSuchFrameException
This Exception occurs if the frame target to be switched to does not exist.
NoAlertPresentException
This Exception occurs when you switch to no presented alert.
NoSuchWindowException
This Exception occurs if the window target to be switch does not exist.
StaleElementReferenceException
This Selenium exception occurs happens when the web element is detached from the current DOM.
SessionNotFoundException
The WebDriver is acting after you quit the browser.
TimeoutException
Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.
WebDriverException
This Exception takes place when the WebDriver is acting right after you close the browser.
ConnectionClosedException
This type of Exception takes place when there is a disconnection in the driver.
ElementClickInterceptedException
The command may not be completed as the element receiving the events is concealing the element which was requested clicked.
ElementNotInteractableException
This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.
ErrorInResponseException
This happens while interacting with the Firefox extension or the remote driver server.
ErrorHandler.UnknownServerException
Exception is used as a placeholder in case if the server returns an error without a stack trace.
ImeActivationFailedException
This expectation will occur when IME engine activation has failed.
ImeNotAvailableException
It takes place when IME support is unavailable.
InsecureCertificateException
Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.
InvalidArgumentException
It occurs when an argument does not belong to the expected type.
InvalidCookieDomainException
This happens when you try to add a cookie under a different domain instead of current URL.
InvalidCoordinatesException
This type of Exception matches an interacting operation that is not valid.
InvalidElementStateExceptio
It occurs when command can’t be finished when the element is invalid.
InvalidSessionIdException
This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.
InvalidSwitchToTargetException
This occurs when the frame or window target to be switched does not exist.
JavascriptException
This issue occurs while executing JavaScript given by the user.
JsonException
It occurs when you afford to get the session when the session is not created.
NoSuchAttributeException
This kind of Exception occurs when the attribute of an element could not be found.
MoveTargetOutOfBoundsException
It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.
NoSuchContextException
ContextAware does mobile device testing.
NoSuchCookieException
This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.
NotFoundException
This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.
RemoteDriverServerException
This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.
ScreenshotException
It is not possible to capture a screen.
SessionNotCreatedException
It happens when a new session could not be successfully created.
UnableToSetCookieException
This occurs if a driver is unable to set a cookie.
UnexpectedTagNameException
Happens if a support class did not get a web element as expected.
UnhandledAlertException
This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.
UnexpectedAlertPresentException
It occurs when there is the appearance of an unexpected alert.
UnknownMethodException
This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.
UnreachableBrowserException
This Exception occurs only when the browser is not able to be opened or crashed because of some reason.
UnsupportedCommandException
This occurs when remote WebDriver does n’t send valid commands as expected.

82

# ---------------------------------------------------------------------

# (4)

In [32]:
driver=webdriver.Chrome(r'/Users/nimeshroy/Downloads/chromedriver')
driver.get('http://statisticstimes.com/')

In [ ]:
rank=[]
try:
    ran=driver.find_elements_by_xpath("//td[@class='data1']")
    for r in ran:
        print(r.text)
        rank.append(r.text)
except NoSuchElementException:
        rank.append('-') 
len(rank)

In [ ]:
state=[]
try:
    sta=driver.find_elements_by_xpath("//td[@class='name']")
    for s in sta:
        print(s.text)
        state.append(s.text)
except NoSuchElementException:
        state.append('-') 
len(state)

In [ ]:
gsdp=[]
try:
    gsd=driver.find_elements_by_xpath("//td[@class='data sorting_1']")
    for g in gsd:
        print(g.text)
        gsdp.append(g.text)
except NoSuchElementException:
        gsdp.append('-') 
len(gsdp)

In [ ]:
gdp=[]
try:
    gd=driver.find_elements_by_xpath("//td[@class='data sorting_1']")
    for q in gd:
        print(q.text)
        gdp.append(q.text)
except NoSuchElementException:
        gdp.append('-') 
len(gdp)

In [46]:
df=pd.DataFrame({"RANK":rank[:33],"STATE":state[:33],"GSDP(18-19)":gsdp[:33],"GDP($billion)":gdp[:33]})
df

   RANK                      STATE GSDP(18-19) GDP($billion)
0     1                Maharashtra   2,632,792       399.921
1     2                 Tamil Nadu   1,630,208       247.629
2     3              Uttar Pradesh   1,584,764       240.726
3     4                    Gujarat   1,502,899       228.290
4     5                  Karnataka   1,493,127       226.806
5     6                West Bengal   1,089,898       165.556
6     7                  Rajasthan     942,586       143.179
7     8             Andhra Pradesh     862,957       131.083
8     9                  Telangana     861,031       130.791
9    10             Madhya Pradesh     809,592       122.977
10   11                     Kerala     781,653       118.733
11   12                      Delhi     774,870       117.703
12   13                    Haryana     734,163       111.519
13   14                      Bihar     530,363        80.562
14   15                     Punjab     526,376        79.957
15   16                     Odisha     487,805        74.098
16   17                      Assam     315,881        47.982
17   18               Chhattisgarh     304,063        46.187
18   19                  Jharkhand     297,204        45.145
19   20                Uttarakhand     245,895        37.351
20   21            Jammu & Kashmir     155,956        23.690
21   22           Himachal Pradesh     153,845        23.369
22   23                        Goa      73,170        11.115
23   24                    Tripura      49,845         7.571
24   25                 Chandigarh      42,114         6.397
25   26                 Puducherry      34,433         5.230
26   27                  Meghalaya      33,481         5.086
27   28                     Sikkim      28,723         4.363
28   29                    Manipur      27,870         4.233
29   30                   Nagaland      27,283         4.144
30   31          Arunachal Pradesh      24,603         3.737
31   32                    Mizoram      22,287         3.385
32   33  Andaman & Nicobar Islands           -             -

# ---------------------------------------------------------------------

# (5)

In [48]:
driver=webdriver.Chrome(r'/Users/nimeshroy/Downloads/chromedriver')
driver.get('https://github.com/trending')

In [ ]:
r_title=[]
try:
    title=driver.find_elements_by_xpath("//span[@class='text-normal']")
    for r in title:
        print(r.text)
        r_title.append(r.text)
except NoSuchElementException:
        r_title.append('-') 
len(r_title)

In [ ]:
r_des=[]
try:
    desc=driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")
    for e in desc:
        print(e.text)
        r_des.append(e.text)
except NoSuchElementException:
        r_des.append('-') 
len(r_des)

In [ ]:
language=[]
try:
    lan=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
    for n in lan:
        print(n.text)
        language.append(n.text)
except NoSuchElementException:
        language.append('-') 
len(language)

In [53]:
df=pd.DataFrame({"REPOSITORY TITLE":r_title[:21],"REPOSITORY DESCRIPTION":r_des[:21],"LANGUAGE USED":language})
df

,REPOSITORY TITLE,REPOSITORY DESCRIPTION,LANGUAGE USED
0,facebookresearch /,Repo for external large-scale work,Python
1,education /,"Join the GitHub Graduation Yearbook and ""walk ...",JavaScript
2,freeCodeCamp /,freeCodeCamp.org's open-source codebase and cu...,TypeScript
3,scottbez1 /,Haptic input knob with software-defined endsto...,C++
4,microsoft /,Windows system utilities to maximize productivity,C#
5,pyscript /,This repo contain the syllabus of the Hugging ...,JavaScript
6,huggingface /,Repository containing the game data for the ga...,Jupyter Notebook
7,Dimbreath /,Digital Forensics Guide,Python
8,mikeroyal /,A server software reimplementation for a certa...,Java
9,Grasscutters /,"12 weeks, 26 lessons, 52 quizzes, classic Mach...",Jupyter Notebook
10,microsoft /,The Modern Data Stack 🐰 — Directus is an insta...,TypeScript
11,directus /,Python notebooks with ML and deep learning exa...,Jupyter Notebook
12,Azure /,🎮 Referências para Game Designers.,Rust
13,baptixta /,📚 免费的计算机编程类中文书籍，欢迎投稿,Shell
14,justjavac /,This repository contains .NET Documentation.,JavaScript
15,dotnet /,A layer 1 for everyone!,Shell
16,aptos-labs /,SteamOS 3 (Holo) archiso configuration,C#
17,bhaiest /,Docker container for managing Nginx proxy host...,Python
18,NginxProxyManager /,Azure Quickstart Templates,JavaScript
19,Azure /,CVNets: A library for training computer vision...,PHP
20,SebLague /,The A32NX Project is a community driven open s...,TypeScript

# -------------------------------------------------------------------

# (6)

In [21]:
driver=webdriver.Chrome(r'/Users/nimeshroy/Downloads/chromedriver')
driver.get('https://www.billboard.com/charts/hot-100/')

In [ ]:
this_week=[]
try:
    week=driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet']")
    for w in week:
        print(w.text)
        this_week.append(w.text)
except NoSuchElementException:
        this_week.append('-')

In [ ]:
song_name=[]
try:
    song=driver.find_elements_by_xpath("//h3[@id='title-of-a-story']")
    for s in song:
        print(s.text)
        song_name.append(s.text)
except NoSuchElementException:
        song_name.append('-') 
len(song_name)

In [ ]:
singer_name=[]
try:
    sing=driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
    for i in sing:
        print(i.text)
        singer_name.append(i.text)
except NoSuchElementException:
        singer_name.append('-') 
len(singer_name)

In [30]:
df=pd.DataFrame({"THIS WEEK":this_week[:99],"SONG NAME":song_name[:99],"SINGER NAME":singer_name})
df

   THIS WEEK       SONG NAME                              SINGER NAME
0          1                                              Jack Harlow
1          2                                            Glass Animals
2          3                                                    Latto
3          4                                    Imagine Dragons X JID
4          5                            The Kid LAROI & Justin Bieber
..       ...             ...                                      ...
94        95  'Til You Can't                          Imagine Dragons
95        96                                   Queen Naija & Big Sean
96        97                                               Lucky Daye
97        98                  Fivio Foreign, Kanye West & Alicia Keys
98        99      Easy On Me                                  Pusha T

[99 rows x 3 columns]

# -------------------------------------------------------------------

# (7)

In [24]:
driver=webdriver.Chrome(r'/Users/nimeshroy/Downloads/chromedriver')
driver.get('https://www.naukri.com/')
driver.find_element_by_class_name("suggestor-input").send_keys("Data Science")
driver.find_element_by_class_name("qsbSubmit").click()

In [ ]:
pname=[]
try:
    name=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    for p in name:
        print(p.text)
        pname.append(p.text)
except NoSuchElementException:
        pname.append('-') 
len(pname)

In [ ]:
cname=[]
try:
    namec=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    for c in namec:
        print(c.text)
        cname.append(c.text)
except NoSuchElementException:
        cname.append('-') 
len(cname)

In [ ]:
skills=[]
try:
    skill=driver.find_elements_by_xpath("//ul[@class='tags has-description']")
    for k in skill:
        print(k.text)
        skills.append(k.text)
except NoSuchElementException:
        skills.append('-') 
len(skills)

In [ ]:
location=[]
try:
    city=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
    for o in city:
        print(o.text)
        location.append(o.text)
except NoSuchElementException:
        location.append('-') 
len(location)

In [31]:
df=pd.DataFrame({"DESIGNATION":pname,"COMPANY":cname,"SKILLS THEY HIRE FOR":skills,"LOCATION":location})
df

,DESIGNATION,COMPANY,SKILLS THEY HIRE FOR,LOCATION
0,HCL || Data Science,HCL Technologies,Azure Functions\nETL\nanalytical\nAzure\nTable...,"Chennai, Bangalore/Bengaluru, Delhi / NCR"
1,Data Science Analyst 2,Epsilon,Data analysis\nFactor analysis\ndata science\n...,Bangalore/Bengaluru
2,Opening For Manager / Sr. Manager Data Science,MSD Pharmaceuticals,Data Science\npython\nDjango\nMySQL\nData Anal...,Pune
3,Data Science & Analytics,MORE RETAIL LIMITED,Usage\nBusiness Analyst\ndata science\nWorkflo...,Bangalore/Bengaluru
4,Senior Analyst - Data Science,Tiger Analytics India LLP,Python\nR\nverbal communication\nwritten\nIT S...,Chennai\n(WFH during Covid)
5,ACN - Applied Intelligence - CC - Data Science...,Accenture,Data Science\nMachine Learning\ngit\nSAS Visua...,Gurgaon/Gurugram
6,"Engineer - PDE (Deep Learning,Data Science,IIOT)",Micron Tech,Deep Learning\nPDE\nBackend engineering\ndata ...,Hyderabad/Secunderabad
7,Data Science/Data scientist| Product Company|5...,HighRadius,Machine Learning\nIT Skills\nPython\nData Scie...,"Bhubaneswar, Hyderabad/Secunderabad"
8,ACN - Applied Intelligence - CC - Data Science...,Accenture,Data Science\nApplied intelligence\ndevelopmen...,Gurgaon/Gurugram
9,Director - Data Engineering - Data Science Pyt...,Optum,Python\nData Science\nNoSQL\nEDA\nBig Data\nKa...,Bangalore/Bengaluru
10,"Product Analyst, Google Assistant Data Science",Google,IT Skills\nPython\nComputer science\nData anal...,Bangalore/Bengaluru
11,Analyst: Data Science Insights,TIGER ANALYTICS INDIA CONSULTING PRIVATE LIMITED,PowerBI\nTableau\npython\nData Analysis\nR\nPa...,Chennai
12,Urgent Opening For Data Science Coach @ Imarti...,Imarticus,data science\nadvanced analytics\npython\nr\nA...,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
13,Hiring For Data Science Intern,FLIP ROBO TECHNOLOGIES PRIVATE LIMITED,Data Science\nNatural Language Processing\nMac...,"Noida, Bangalore/Bengaluru"
14,Analyst/Sr Analyst - Data Science,TM Inputs & Services Pvt. Ltd.,data science\nmachine learning models,"Pune, Bangalore/Bengaluru"
15,Data Science/ Data Scientist/ Data Analyst/ Bu...,TopGear Consultants Pvt Ltd.,python\nTableau\nDesign Studio\nSAP HANA\nSQL\...,Mumbai (All Areas)
16,Data Science/ Data Scientist/ Data Analyst/ Bu...,TopGear Consultants Pvt Ltd.,python\nTableau\nDesign Studio\nSAP HANA\nSQL\...,Mumbai (All Areas)
17,Lead Data Science Analyst - Python/ Spark,Huquo Consulting Pvt. Ltd,data science\nSpark\nPython\nIT Skills\nMachin...,Gurgaon/Gurugram
18,"Senior Advisor, Data Science",Dell Technologies,PostgreSQL\nSQL Server\nOracle\nC\nCassandra\n...,Bangalore/Bengaluru
19,ACN - Applied Intelligence - CC - Data Science...,Accenture,Data Science\nIT Skills\nPython\nMachine Learn...,Gurgaon/Gurugram

# ---------------------------------------------------------------------

# (8)

In [8]:
driver=webdriver.Chrome(r'/Users/nimeshroy/Downloads/chromedriver')
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [11]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

try:
    bname=driver.find_elements_by_css_selector("td.left")
    for b in bname:
        print(b.text)
        Book_name.append(b.text)
except NoSuchElementException:
        Book_name.append('-') 
len(Book_name)

1
Da Vinci Code,The
Brown, Dan
5,094,805
Transworld
Crime, Thriller & Adventure
2
Harry Potter and the Deathly Hallows
Rowling, J.K.
4,475,152
Bloomsbury
Children's Fiction
3
Harry Potter and the Philosopher's Stone
Rowling, J.K.
4,200,654
Bloomsbury
Children's Fiction
4
Harry Potter and the Order of the Phoenix
Rowling, J.K.
4,179,479
Bloomsbury
Children's Fiction
5
Fifty Shades of Grey
James, E. L.
3,758,936
Random House
Romance & Sagas
6
Harry Potter and the Goblet of Fire
Rowling, J.K.
3,583,215
Bloomsbury
Children's Fiction
7
Harry Potter and the Chamber of Secrets
Rowling, J.K.
3,484,047
Bloomsbury
Children's Fiction
8
Harry Potter and the Prisoner of Azkaban
Rowling, J.K.
3,377,906
Bloomsbury
Children's Fiction
9
Angels and Demons
Brown, Dan
3,193,946
Transworld
Crime, Thriller & Adventure
10
Harry Potter and the Half-blood Prince:Children's Edition
Rowling, J.K.
2,950,264
Bloomsbury
Children's Fiction
11
Fifty Shades Darker
James, E. L.
2,479,784
Random House
Romance & Sagas
12
Twilight
Meyer, Stephenie
2,315,405
Little, Brown Book
Young Adult Fiction
13
Girl with the Dragon Tattoo,The:Millennium Trilogy
Larsson, Stieg
2,233,570
Quercus
Crime, Thriller & Adventure
14
Fifty Shades Freed
James, E. L.
2,193,928
Random House
Romance & Sagas
15
Lost Symbol,The
Brown, Dan
2,183,031
Transworld
Crime, Thriller & Adventure
16
New Moon
Meyer, Stephenie
2,152,737
Little, Brown Book
Young Adult Fiction
17
Deception Point
Brown, Dan
2,062,145
Transworld
Crime, Thriller & Adventure
18
Eclipse
Meyer, Stephenie
2,052,876
Little, Brown Book
Young Adult Fiction
19
Lovely Bones,The
Sebold, Alice
2,005,598
Pan Macmillan
General & Literary Fiction
20
Curious Incident of the Dog in the Night-time,The
Haddon, Mark
1,979,552
Random House
General & Literary Fiction
21
Digital Fortress
Brown, Dan
1,928,900
Transworld
Crime, Thriller & Adventure
22
Short History of Nearly Everything,A
Bryson, Bill
1,852,919
Transworld
Popular Science
23
Girl Who Played with Fire,The:Millennium Trilogy
Larsson, Stieg
1,814,784
Quercus
Crime, Thriller & Adventure
24
Breaking Dawn
Meyer, Stephenie
1,787,118
Little, Brown Book
Young Adult Fiction
25
Very Hungry Caterpillar,The:The Very Hungry Caterpillar
Carle, Eric
1,783,535
Penguin
Picture Books
26
Gruffalo,The
Donaldson, Julia
1,781,269
Pan Macmillan
Picture Books
27
Jamie's 30-Minute Meals
Oliver, Jamie
1,743,266
Penguin
Food & Drink: General
28
Kite Runner,The
Hosseini, Khaled
1,629,119
Bloomsbury
General & Literary Fiction
29
One Day
Nicholls, David
1,616,068
Hodder & Stoughton
General & Literary Fiction
30
Thousand Splendid Suns,A
Hosseini, Khaled
1,583,992
Bloomsbury
General & Literary Fiction
31
Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy
Larsson, Stieg
1,555,135
Quercus
Crime, Thriller & Adventure
32
Time Traveler's Wife,The
Niffenegger, Audrey
1,546,886
Random House
General & Literary Fiction
33
Atonement
McEwan, Ian
1,539,428
Random House
General & Literary Fiction
34
Bridget Jones's Diary:A Novel
Fielding, Helen
1,508,205
Pan Macmillan
General & Literary Fiction
35
World According to Clarkson,The
Clarkson, Jeremy
1,489,403
Penguin
Humour: Collections & General
36
Captain Corelli's Mandolin
Bernieres, Louis de
1,352,318
Random House
General & Literary Fiction
37
Sound of Laughter,The
Kay, Peter
1,310,207
Random House
Autobiography: General
38
Life of Pi
Martel, Yann
1,310,176
Canongate
General & Literary Fiction
39
Billy Connolly
Stephenson, Pamela
1,231,957
HarperCollins
Biography: The Arts
40
Child Called It,A
Pelzer, Dave
1,217,712
Orion
Autobiography: General
41
Gruffalo's Child,The
Donaldson, Julia
1,208,711
Pan Macmillan
Picture Books
42
Angela's Ashes:A Memoir of a Childhood
McCourt, Frank
1,204,058
HarperCollins
Autobiography: General
43
Birdsong
Faulks, Sebastian
1,184,967
Random House
General & Literary Fiction
44
Northern Lights:His Dark Materials S.
Pullman, Philip
1,181,503
Scholastic Ltd.
Young Adult Fiction
45
Labyrinth
Mosse, Kate
1,181,093
Orion
General & Literary Fiction
46
Harry Potter and the Half-blood Prince
Rowling, J.K.
1,153,181
Bloomsbury
Science Fiction & Fantasy
47
Help,The
Stockett, Kathryn
1,132,336
Penguin
General & Literary Fiction
48
Man and Boy
Parsons, Tony
1,130,802
HarperCollins
General & Literary Fiction
49
Memoirs of a Geisha
Golden, Arthur
1,126,337
Random House
General & Literary Fiction
50
No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.
McCall Smith, Alexander
1,115,549
Little, Brown Book
Crime, Thriller & Adventure
51
Island,The
Hislop, Victoria
1,108,328
Headline
General & Literary Fiction
52
PS, I Love You
Ahern, Cecelia
1,107,379
HarperCollins
General & Literary Fiction
53
You are What You Eat:The Plan That Will Change Your Life
McKeith, Gillian
1,104,403
Penguin
Fitness & Diet
54
Shadow of the Wind,The
Zafon, Carlos Ruiz
1,092,349
Orion
General & Literary Fiction
55
Tales of Beedle the Bard,The
Rowling, J.K.
1,090,847
Bloomsbury
Children's Fiction
56
Broker,The
Grisham, John
1,087,262
Random House
Crime, Thriller & Adventure
57
Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P
Atkins, Robert C.
1,054,196
Random House
Fitness & Diet
58
Subtle Knife,The:His Dark Materials S.
Pullman, Philip
1,037,160
Scholastic Ltd.
Young Adult Fiction
59
Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation
Truss, Lynne
1,023,688
Profile Books Group
Usage & Writing Guides
60
Delia's How to Cook:(Bk.1)
Smith, Delia
1,015,956
Random House
Food & Drink: General
61
Chocolat
Harris, Joanne
1,009,873
Transworld
General & Literary Fiction
62
Boy in the Striped Pyjamas,The
Boyne, John
1,004,414
Random House Childrens Books G
Young Adult Fiction
63
My Sister's Keeper
Picoult, Jodi
1,003,780
Hodder & Stoughton
General & Literary Fiction
64
Amber Spyglass,The:His Dark Materials S.
Pullman, Philip
1,002,314
Scholastic Ltd.
Young Adult Fiction
65
To Kill a Mockingbird
Lee, Harper
998,213
Random House
General & Literary Fiction
66
Men are from Mars, Women are from Venus:A Practical Guide for Improvin
Gray, John
992,846
HarperCollins
Popular Culture & Media: General Interest
67
Dear Fatty
French, Dawn
986,753
Random House
Autobiography: The Arts
68
Short History of Tractors in Ukrainian,A
Lewycka, Marina
986,115
Penguin
General & Literary Fiction
69
Hannibal
Harris, Thomas
970,509
Random House
Crime, Thriller & Adventure
70
Lord of the Rings,The
Tolkien, J. R. R.
967,466
HarperCollins
Science Fiction & Fantasy
71
Stupid White Men:...and Other Sorry Excuses for the State of the Natio
Moore, Michael
963,353
Penguin
Current Affairs & Issues
72
Interpretation of Murder,The
Rubenfeld, Jed
962,515
Headline
Crime, Thriller & Adventure
73
Sharon Osbourne Extreme:My Autobiography
Osbourne, Sharon
959,496
Little, Brown Book
Autobiography: The Arts
74
Alchemist,The:A Fable About Following Your Dream
Coelho, Paulo
956,114
HarperCollins
General & Literary Fiction
75
At My Mother's Knee ...:and Other Low Joints
O'Grady, Paul
945,640
Transworld
Autobiography: The Arts
76
Notes from a Small Island
Bryson, Bill
931,312
Transworld
Travel Writing
77
Return of the Naked Chef,The
Oliver, Jamie
925,425
Penguin
Food & Drink: General
78
Bridget Jones: The Edge of Reason
Fielding, Helen
924,695
Pan Macmillan
General & Literary Fiction
79
Jamie's Italy
Oliver, Jamie
906,968
Penguin
National & Regional Cuisine
80
I Can Make You Thin
McKenna, Paul
905,086
Transworld
Fitness & Diet
81
Down Under
Bryson, Bill
890,847
Transworld
Travel Writing
82
Summons,The
Grisham, John
869,671
Random House
Crime, Thriller & Adventure
83
Small Island
Levy, Andrea
869,659
Headline
General & Literary Fiction
84
Nigella Express
Lawson, Nigella
862,602
Random House
Food & Drink: General
85
Brick Lane
Ali, Monica
856,540
Transworld
General & Literary Fiction
86
Memory Keeper's Daughter,The
Edwards, Kim
845,858
Penguin
General & Literary Fiction
87
Room on the Broom
Donaldson, Julia
842,535
Pan Macmillan
Picture Books
88
About a Boy
Hornby, Nick
828,215
Penguin
General & Literary Fiction
89
My Booky Wook
Brand, Russell
820,563
Hodder & Stoughton
Autobiography: The Arts
90
God Delusion,The
Dawkins, Richard
816,907
Transworld
Popular Science
91
"Beano" Annual,The
0
816,585
D.C. Thomson
Children's Annuals
92
White Teeth
Smith, Zadie
815,586

Penguin
General & Literary Fiction
93
House at Riverton,The
Morton, Kate
814,370
Pan Macmillan
General & Literary Fiction
94
Book Thief,The
Zusak, Markus
809,641
Transworld
General & Literary Fiction
95
Nights of Rain and Stars
Binchy, Maeve
808,900
Orion
General & Literary Fiction
96
Ghost,The
Harris, Robert
807,311
Random House
General & Literary Fiction
97
Happy Days with the Naked Chef
Oliver, Jamie
794,201
Penguin
Food & Drink: General
98
Hunger Games,The:Hunger Games Trilogy
Collins, Suzanne
792,187
Scholastic Ltd.
Young Adult Fiction
99
Lost Boy,The:A Foster Child's Search for the Love of a Family
Pelzer, Dave
791,507
Orion
Biography: General
100
Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours
Oliver, Jamie
791,095
Penguin
Food & Drink: General

600

# ---------------------------------------------------------------------

# (9)

In [6]:
driver=webdriver.Chrome(r'/Users/nimeshroy/Downloads/chromedriver')
driver.get('https://www.imdb.com/list/ls095964455/')

In [ ]:
name=[]
try:
    nam=driver.find_elements_by_xpath("//h3[@class='lister-item-header']")
    for n in nam:
        print(n.text)
        name.append(n.text)
except NoSuchElementException:
        name.append('-') 
len(name)

In [ ]:
genre=[]
try:
    gen=driver.find_elements_by_xpath("//span[@class='genre']")
    for g in gen:
        print(g.text)
        genre.append(g.text)
except NoSuchElementException:
        genre.append('-') 
len(genre)

In [ ]:
runtime=[]
try:
    run=driver.find_elements_by_xpath("//span[@class='runtime']")
    for r in run:
        print(r.text)
        runtime.append(r.text)
except NoSuchElementException:
        runtime.append('-') 
len(runtime)

In [ ]:
rating=[]
try:
    rat=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
    for a in rat:
        print(a.text)
        rating.append(a.text)
except NoSuchElementException:
        rating.append('-') 
len(rating)

In [ ]:
vote=[]
try:
    vot=driver.find_elements_by_xpath("//span[@name='nv']")
    for v in vot:
        print(v.text)
        vote.append(v.text)
except NoSuchElementException:
        vote.append('-') 
len(vote)

In [44]:
df=pd.DataFrame({"NAME & YEAR OF SPAN":name,"GENRE":genre,"RUNTIME":runtime,"RATINGS":rating,"VOTES":vote})
df

,NAME & YEAR OF SPAN,GENRE,RUNTIME,RATINGS,VOTES
0,1. Game of Thrones (2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,980,902"
1,2. Stranger Things (2016– ),"Drama, Fantasy, Horror",51 min,8.7,"986,599"
2,3. The Walking Dead (2010–2022),"Drama, Horror, Thriller",44 min,8.2,"944,045"
3,4. 13 Reasons Why (2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"282,043"
4,5. The 100 (2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"241,938"
...,...,...,...,...,...
95,96. Reign (2013–2017),"Drama, Fantasy",42 min,7.4,"48,549"
96,97. A Series of Unfortunate Events (2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,186"
97,98. Criminal Minds (2005–2020),"Crime, Drama, Mystery",42 min,8.1,"188,851"
98,99. Scream: The TV Series (2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,020"
99,100. The Haunting of Hill House (2018),"Drama, Horror, Mystery",572 min,8.6,"226,377"

# ---------------------------------------------------------------------

# (10)

In [4]:
driver=webdriver.Chrome(r'/Users/nimeshroy/Downloads/chromedriver')
driver.get('https://archive.ics.uci.edu/')
driver.find_element_by_xpath("//a[@href='datasets.php']").click()

In [ ]:
dataset=[]
try:
    data=driver.find_elements_by_css_selector("a.href")
    for d in data:
        print(d.text)
        dataset.append(d.text)
except NoSuchElementException:
        dataset.append('-') 
len(dataset)

In [ ]:
datatype=[]
try:
    dataty=driver.find_elements_by_tag_name("p.normal")
    for y in dataty:
        print(y.text)
        dataty.append(y.text)
except NoSuchElementException:
        dataty.append('-') 
len(dataty)

In [71]:
df=pd.DataFrame({'DATASET':dataset})
df

Empty DataFrame
Columns: [DATASET]
Index: []

# >>>>>>>>>>>>>>>>> + <<<<<<<<<<<<<<<<<<<<<